#form {
  position: relative; /* Added */
  display: grid;
  place-items: center;
  width: 300px;
  height: 450px;
  padding: 25px;
  background-color: #0e1e29;
  box-shadow: 0px 1px 20px #00d5ff;
  outline: 1px solid #00d5ff;
  border-radius: 10px;
  left: 300px;
  top: 200px;
}
.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}
#form-body {
  position: absolute;
  top: 50px; /* Changed to top: 0 */
  right: 25px;
  left: 25px;
  width: 230px;
  margin: auto; /* Changed to margin: auto */
}

#welcome-lines {
  text-align: center;
  line-height: 1;
}

#welcome-line-1 {
  color: #00d5ff;
  font-weight: 600;
  font-size: 40px;
}

#welcome-line-2 {
  color: #ffffff;
  font-size: 18px;
  margin-top: 17px;
}

#input-area {
  margin-top: 40px;
}

.form-inp {
  padding: 11px 25px;
  background: transparent;
  border: 1px solid #e3e3e3;
  line-height: 1;
  border-radius: 8px;
}

.form-inp:focus {
  border: 1px solid #00d5ff;
}

.form-inp:first-child {
  margin-bottom: 15px;
}

.form-inp input {
  width: 100%;
  background: none;
  font-size: 13.4px;
  color: #00d5ff;
  border: none;
  padding: 0;
  margin: 0;
}

.form-inp input:focus {
  outline: none;
}

#submit-button-cvr {
  margin-top: 20px;
}

#submit-button {
  display: block;
  width: 100%;
  color: #00d5ff;
  background-color: transparent;
  font-weight: 600;
  font-size: 14px;
  margin: 0;
  padding: 14px 13px 12px 13px;
  border: 0;
  outline: 1px solid #00d5ff;
  border-radius: 8px;
  line-height: 1;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}

#submit-button:hover {
  transition: all ease-in-out 0.3s;
  background-color: #00d5ff;
  color: #161616;
  cursor: pointer;
}

#forgot-pass {
  text-align: center;
  margin-top: 10px;
}

#forgot-pass a {
  color: #868686;
  font-size: 12px;
  text-decoration: none;
}
